<p class="link" (click)="changeView('accounts')">&lt; Go back to accounts</p>

<section class="acctDetails">
    <h2>AccountType (...xxxx)</h2>
    <div>
        <p>$xxx.xx</p>
        <p>Available</p>
    </div>
    <div>
        <p>Account Number:</p>
        <p>Routing Number:</p>
        <p>Interest Rate:</p>
        <p>Joint User(s):</p>
    </div>
</section>

<h2>Transactions</h2>
<section class="transactions">
    <div class="transaction">
        <p>Action</p>
        <p>Apr 9, 2020</p>
        <p>$xxx.xx</p>
        <p>$xx.xx</p>
    </div>
</section>
