<form class="col-11">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required>
    </div>
    <div class="form-group">
        <label for="ssn">Social Security Number</label>
        <input type="number" class="form-control" id="ssn" min="0" required>
    </div>
    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" id="dob" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" required>
        <small id="usernameHelp" class="form-text text-muted">Must be between 8 and 40 characters.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" aria-describedby="pwHelp" required>
        <small id="pwHelp" class="form-text text-muted">Must be at least 8 character and contain at least one: Uppercase letter, number, and symbol(!@#$%^&*).</small>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" required>
    </div>
    <div class="form-group">
        <label for="streetAdress">Street Adress</label>
        <input type="text" class="form-control" id="streetAdress" required>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="" class="form-control" id="city" required>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" id="state">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-group">
        <label for="zip">Zip Code</label>
        <input type="number" class="form-control" id="zip" required>
      </div>
    <div class="form-group">
        <label for="securityQuestion">Security Question</label>
        <select class="form-control" id="securityQuestion">
            <option>1</option>
            <option>2</option>
        </select>
    </div>
    <div class="form-group">
        <label for="securityQuestionAnswer">Answer to Security Question</label>
        <input type="text" class="form-control" id="securityQuestionAnswer" required>
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<p class="link"><a>Already have an account? Login ></a></p>
